.darken-grey-text {
  color: #2E2E2E;
}
.img-gradient,
.img-gradient-1 {
  position:relative;
  display:inline-block;
}
.img-gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.img-gradient-1:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(168, 237, 234, 0.5) 0%, rgba(254, 214, 227, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254, 214, 227, 0.5)), color-stop(100%,rgba(254, 214, 227, 0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(168, 237, 234, 0.5) 0%,rgba(254, 214, 227, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(168, 237, 234, 0.5) 0%,rgba(254, 214, 227, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(168, 237, 234, 0.5) 0%,rgba(254, 214, 227, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(168, 237, 234, 0.5) 0%,rgba(254, 214, 227, 0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4fc79', endColorstr='#96e6a1',GradientType=0 ); /* IE6-9 */
}
.img-gradient img,
.img-gradient-1 img {
  display:block;
}

.color-block {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.juicy-peach-gradient {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.young-passion-gradient {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.lady-lips-gradient {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.sunny-morning-gradient {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.rainy-ashville-gradient {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.frozen-dreams-gradient {
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.warm-flame-gradient {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.night-fade-gradient {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.spring-warmth-gradient {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.winter-neva-gradient {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.dusty-grass-gradient {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.tempting-azure-gradient {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.heavy-rain-gradient {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.amy-crisp-gradient {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.mean-fruit-gradient {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.deep-blue-gradient {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.ripe-malinka-gradient {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.cloudy-knoxville-gradient {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.morpheus-den-gradient {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.rare-wind-gradient {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.near-moon-gradient {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.gradient-z-1 {
  background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}
.gradient-z-2 {
  background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
}
.gradient-z-3 {
  background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);
}
.gradient-z-4 {
   background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}

.gradient-z-5 {
  background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
}
.gradient-z-6 {
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}
.gradient-z-16 {
  background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}
.gradient-z-7 {
  background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
}
.gradient-z-8 {
  background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
}
.gradient-z-9 {
  background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}
.gradient-z-10 {
  background-image: linear-gradient( 135deg, #FAB2FF 10%, #1904E5 100%);
}
.gradient-z-11 {
  background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
}
.gradient-z-12 {
  background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
}
.gradient-z-13 {
  background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);
}

.gradient-z-14 {
  background-image: linear-gradient(to right, #0cebeb 0%, #20e3b2 51%, #0cebeb 100%);
}
.gradient-z-15 {
  background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7 51%, #1CD8D2 100%);
  &:hover { background-position: right center; }
}
.gradient-z-17 {
  background-image: linear-gradient(0deg, #0b4182 1%, #1e88e5 100%)
}

