
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300;400;600");
@import url('https://fonts.googleapis.com/css?family=Scheherazade:400,700&subset=arabic');
// Variables
@import "variables";
@import '_gradients';
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "dashboard/vendor/select2.css";
@import "dashboard/vendor/lightbox.css";
@import "dashboard/vendor/dropzone.css";
//@import "dashboard/css/vendor/summernote.css";
@import "dashboard/vendor/daterangepicker.css";
@import "dashboard/vendor/pace-theme-flash.css";
@import "dashboard/vendor/bootstrap-datetimepicker.css";
@import "dashboard/vendor/datatables.bootstrap.css";
@import "dashboard/vendor/responsive.bootstrap.css";
//@import "dashboard/css/ironside/titan.css";
//@import "dashboard/css/ironside/charts.css";
//@import "dashboard/css/ironside/superbox.css";
//@import "dashboard/css/ironside/nestable.css";
//@import "dashboard/css/ironside/datatables.css";
//@import "dashboard/css/ironside/checkboxes.css";
//@import "dashboard/css/ironside/notify.css";
@import "dashboard/ironside.css";
// Dashborad Theme
@import "dashboard/lib/calendar2/semantic.ui.min.css";
@import "dashboard/lib/calendar2/pignose.calendar.min.css";
//@import "dashboard/css/lib/owl.carousel.min.css";
@import "~owl.carousel/src/scss/owl.carousel";
@import "~owl.carousel/src/scss/owl.theme.default";
//@import "dashboard/css/lib/owl.theme.default.min.css";
//@import "dashboard/";
@import "dashboard/helper.css";
@import "override";

html ,body {
  font-family: 'Scheherazade', serif;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0,0.04);
}
